style.
	.pager-wrap {margin: 50px auto; display: flex; justify-content: center; color: #222;}
	.pager-wrap > a {flex: 30px 0 0; height: 30px; text-align: center; line-height: 30px; border: 1px solid #aaa; margin-right: -1px; text-decoration: none;}
	.pager-wrap > a:link,
	.pager-wrap > a:hover,
	.pager-wrap > a:visited,
	.pager-wrap > a:active {color: inherit;}
	.bt-first {border-radius: 6px 0 0 6px;}
	.bt-last {border-radius: 0 6px 6px 0;}
	.bt-first, .bt-last, .bt-prev, .bt-next {border: none !important; background-color: #bbbdbe; color: #fff !important;}
	.pager-wrap > a.disable {background-color: #dadada; cursor: not-allowed;}
	.pager-wrap > a.active {background-color: royalblue; color: #fff !important;}
.pager-wrap
	if pager.first > 0
		a.bt-first.fa.fa-angle-double-left(href=`/${name}/list/${pager.first}`)
	else
		a.bt-first.fa.fa-angle-double-left.disable
	if pager.prev > 0
		a.bt-prev.fa.fa-angle-left(href=`/${name}/list/${pager.prev}`)
	else
		a.bt-prev.fa.fa-angle-left.disable
	- for(var i=pager.std; i<=pager.end; i++) {
		if pager.page == i 
			a.active(href=`/${name}/list/${i}`)= i
		else
			a(href=`/${name}/list/${i}`)= i
	- }
	if pager.next > 0
		a.bt-next.fa.fa-angle-right(href=`/${name}/list/${pager.next}`)
	else
		a.bt-next.fa.fa-angle-right.disable
	if pager.last > 0
		a.bt-last.fa.fa-angle-double-right(href=`/${name}/list/${pager.last}`)
	else
		a.bt-last.fa.fa-angle-double-right.disable
