extends ./layout/default.pug
block content
	.jumbotron
		h1
			span 방명록
			br
			small 당신의 한마디를 남겨주세요~
	.write-wrap
		form(name="wrForm" id="wrForm" method="post" action="/gbook/save" enctype="multipart/form-data")
			input(type="hidden" name="id" value="")
			input.form-control.mb-2(type="text" name="writer" placeholder="작성자")
			textarea.form-control.mb-2(name="content" placeholder="한마디를 남겨주세요.")
			input.form-control-file(type="file" name="upfile")
			div.text-danger.mb-3 * jpg, gif, png, pdf 파일만 업로드가 가능합니다.
			hr
			button#btSave.btn.btn-primary.mr-2(type="submit") 글 남기기
			button#btReset.btn.btn-danger(type="reset" onclick="onReset();") 다시작성
	.list-wrap.mt-5
		table.table.table-bordered.text-center
			thead.thead-dark
				tr
					th.p-2(style="width:15%") 작성자
					th.p-2 한마디
					th.p-2(style="width: 5%;") 첨부
					th.p-2(style="width: 15%;") 작성일
					th.p-2(style="width: 8%;") 비고
			tbody
				each v in lists
					tr
						td.p-2= v.writer
						td.p-2.text-left= v.content
						td.p-2
							if v.realfile
								img(src=`${v.icon}` style="max-width: 32px; cursor: pointer;" onclick=`viewFile("${v.realfile}");`)
						td.p-2= v.created
						td.p-2
							//- i.fa.fa-edit.mr-2(data-id=`${v.id}` onclick="onChg(this)")
							//- i.fa.fa-trash(data-id=`${v.id}` onclick="onRev(this)")
							i.fa.fa-edit.mr-2(onclick=`onChg(this, ${v.id})` style="cursor: pointer;")
							i.fa.fa-trash(onclick=`onRev(this, ${v.id})` style="cursor: pointer;")
		include ./inc/pager.pug
	include ./inc/modal.pug
